* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
  }
  
.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-in;
}

.page-number__wrapper {
    margin-top: 20px; 
    margin-bottom: 10px;
    display: flex;
}

.page-number {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page-number-current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 40px;
    width: 800px;
    background-color: lightgray;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}


